.election h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.election ul {
    list-style-type: disc;
    list-style-position: outside;
}

.election li {
    margin-left: 20px;
}

.election th {
    font-weight: bold;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: #ACF609;
}

.election td {
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: left;
    background-color: #F6C909;
}

.election button {
    width: 100px;
}

.election input {
    width: 500px
}

.election table {
    width: auto;
    height: auto;
}

.election hr {
    width:100%; 
    height:1px; 
    background: #fff;
}

.election-question-tool button{
    width: 150px;
    height: 30px;
    display:inline-block;
    margin-top: 5px;
}

.election-question-list button {
    float: right;
}

.election-question-list li {
    width: 600px;
    height: 25px;
}
